/ControlBox/build-ControlBox-Desktop_Qt_5_15_15_GCC_64bit-Debug/
/ControlBox/build-ControlBox-QT5_Desktop-Debug/
/ControlBox/build-ControlBox-Raspberry_PI-Debug/
/ControlBox/ControlBox/.cmake/
/ControlBox/ControlBox/.idea/
/ControlBox/ControlBox/.qtc/
/ControlBox/ControlBox/.qtc_clangd/
/ControlBox/ControlBox/-DCMAKE_PREFIX_PATH="/
/ControlBox/ControlBox/ControlBox_autogen/
/ControlBox/ControlBox/cmake-build-debug/
/ControlBox/ControlBox/CMakeLists.txt.user
/ControlBox/ControlBox/CMakeLists.txt.user.bea64d8
/ControlBox/ControlBox/rasp
/ControlBox/ControlBox/rasp.pub
/ControlBox/ControlBox/.ninja_deps
/ControlBox/ControlBox/.ninja_log
/ControlBox/ControlBox/build.ninja

Cloud/.idea/
